
.root{
    -fx-background-color: #171717;
    -fx-border-width: 1;
    -fx-border-color: #909090;
}

.text-field{
    -fx-background-color: #D9D9D9;
    -fx-prompt-text-fill: #404040;
    -fx-text-fill: black
}

.button{
    -fx-background-color: #393939;
    -fx-background-radius: 10;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #4A4A4A;
    -fx-text-fill: white;
}

.button:pressed{
    -fx-background-color: #323232;
    -fx-text-fill: white;
}

